html{
    /* background: #000000;  
    background: -webkit-linear-gradient(to top, #193747,#0B1B25, rgb(004,012,023)); 
    background: linear-gradient(to top,#193747,#0B1B25, rgb(004,012,023)); */
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.background{
    background-image:url(http://ava7.com/w/games/league-of-legends/league-of-legends-game-lol-shadow-isles-landscape-city.jpg);
    background-position: center;
    /* background-size: cover; */
    /* background-repeat: no-repeat; */
}

/* HEADER */
header {
    height: 100px;
    width: 100%;
    background-color: rgb(004,012,023); 
    padding:5px 0px 5px 5px;
    display: flex;
    align-items: center;
}

.pag_name{
    color: rgb(198,146,060);
    font-size: 25px;
}

img[src="img/logo_lol.png"]{
    cursor: pointer;
    height: 100px;
    width: 100px;
}

/* BODY */
/* .searcher{
    display: inline-flex;
    font-size: 22px;
    color: rgb(211, 211, 211);
    padding-left: 40%;
} */

/* input[type="search"]{
    padding: 9px 10px 9px 52px;
    font-size: 20px;
    outline: none;
    border-radius: 15px;
    border: 3px outset rgba(8, 162, 162, 0.788);
    background: #fff url("img/search-icon.png") no-repeat 10px center;
} */

/* .filter{
    position: fixed;
    float: left;
    width: 300px;
    height: 100%;
    margin:0px;
    padding: 10px;
    line-height: 40px;
    margin-top: 100px;
    padding-left: 30px; 
    background-color:rgb(004,012,023);
    color:rgb(240,230,210);
    font-size: 24px;
} */

/* select{
    margin-bottom: 30px;
    font-size: 18px;
    outline: none;
    border-radius: 15px;
    border: 3px outset rgba(8, 162, 162, 0.788);
    padding: 9px 10px 9px 10px;
} */

/* CHAMPIONS */
#allTheChamps{
    display: flex;
    flex-wrap: wrap;
} 

#containerProfilePic{
    width: 150px;
}

#profilePic{
    width:100%
}

.containerEachChamp{
    display:flex;
    flex-direction: column;
    background-color: rgb(030,035,040);
    height: 250px;
    width: 200px;
    margin: 20px;
    padding: 5px;
    justify-content: center;
    align-items: center;
}
